{{ define "components/app-navbar" }}
<div class="flex flex-row gap-2 justify-between items-center" id="components-app-navbar" hx-boost="true"
    hx-target="#content" hx-swap="innerHTML">
    <div class="flex flex-row gap-2">
        <a href="/app">
            <button class="btn text-xl btn-glass no-animation">
                Feedlr
            </button>
        </a>
    </div>
    <div>
        <a href="/app/channels/manage{{(call .AddFromQuery `/app/channels/manage` .CurrentURL)}}">
            <button class="btn btn-neutral no-animation">
                Subscriptions
            </button>
        </a>
        <a href="/app/settings{{(call .AddFromQuery `/app/settings` .CurrentURL)}}">
            <button class="btn btn-neutral no-animation">
                Settings
            </button>
        </a>
    </div>
</div>
{{ end }}