{{ define "components/channels-feed" }}
<div class="flex flex-col gap-4" id="components-channels-feed">
    {{ with . }}
    {{ range $_, $chan := . }}
    <div id="{{ $chan.ID }}">
        <div class="flex flex-col gap-4 p-6 shadow-inner bg-base-300 rounded-xl">
            <div class="flex flex-row items-center justify-between gap-2">
                <div class="flex flex-row items-center gap-1">
                    <img src="{{$chan.Thumbnail}}" alt="{{ $chan.Title }}"
                        class="object-cover w-6 h-6 md:w-8 md:h-8 rounded-xl">
                    <span class="mx-2 text-xl font-bold md:text-2xl">{{ $chan.Title }}</span>
                </div>
            </div>
            <div>
                {{template "components/video-feed" $chan}}
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>
{{ end }}