{{ define "components/channels-search-box" }}
<div id="search" class="flex flex-col gap-4 htmx-request">
  <form class="flex items-center justify-center gap-2 group" id="search-box" _="on clear send clear to #search-results">
    <div class="invisible w-6 h-6"></div>

    <input type="search" placeholder="Channel Name" name="search" minlength="5" maxlength="32"
      class="self-center w-full max-w-xs input input-bordered font-control" hx-indicator="#search-box"
      hx-get="/api/channels/search" hx-target="#search-results" hx-swap="innerHTML"
      hx-trigger="keyup delay:200ms, search" id="search-input" _="on clear set my value to ''">

    <span class="htmx-indicator invisible group-[.htmx-request]:visible w-6 h-6 loading loading-spinner"></span>
  </form>
  <div id="search-results" class="flex flex-row flex-wrap gap-2" _="on clear set my innerHTML to ''"></div>
</div>
{{ end }}