{{ define "components/footer" }}

{{ . }}
<div id="footer" class="flex flex-col">
    <div class="flex flex-row justify-between">
        <div class="flex flex-col">
            <span>
                Feedlr - No Copyright Whatsoever
            </span>
            <a href="https://www.flaticon.com" title="Flaticon" target="_blank" class="text-xs">
                Logo icons created by Laisa Islam Ani - Flaticon
            </a>
        </div>
        <div class="flex flex-col justify-end items-end">
            <a href="/about">
                About
            </a>
            <a href="https://github.com/byvko-dev">
                GitHub
            </a>
        </div>
    </div>
</div>

{{ end }}