{{ define "components/search-channels-tiled" }}
{{ with . }}
{{ range . }}
<div class="relative flex-grow p-4 overflow-hidden group basis-1/3 rounded-xl bg-base-300" id="channel-tile-{{.ID}}">
  <button type="button"
    class="absolute inset-0 z-10 flex items-center justify-center invisible w-full text-lg font-bold bg-black bg-opacity-50 group-hover:visible"
    hx-target="#channel-tile-{{.ID}}" hx-swap="delete" hx-post="/api/channels/{{.ID}}/subscribe">
    Subscribe
  </button>
  {{ template "components/channel-tile" . }}
</div>
{{ end }}
{{ end }}
{{ end }}