{{ define "components/subs-channel-tile" }}
<div class="relative flex-grow p-4 overflow-hidden group md:basis-1/3 rounded-xl bg-base-300"
  id="sub-channel-tile-{{.ID}}">
  <button type="button"
    class="absolute inset-0 z-10 flex items-center justify-center invisible w-full text-lg font-bold uppercase bg-black bg-opacity-50 group-hover:visible"
    hx-target="#sub-channel-tile-{{.ID}}" hx-swap="delete" hx-post="/api/channels/{{.ID}}/unsubscribe">
    unsubscribe
  </button>
  {{ template "components/channel-tile" . }}
</div>
{{ end }}

{{ define "components/subs-channels-tiled" }}
{{ with . }}
{{ range . }}
{{ template "components/subs-channel-tile" . }}
{{ end }}
{{ end }}
{{ end }}