{{ define "components/video-feed" }}

<div class="flex flex-row w-full gap-1 p-0 space-x-2 overflow-scroll shadow-inner md:space-x-4 carousel carousel-center rounded-box"
    id="components-video-feed">
    {{ if .Videos }}
    {{ with . }}
    {{ range .Videos }}
    <div class="overflow-hidden shadow-md carousel-item rounded-xl overscroll-contain group">
        <a href="/app/watch/{{ .ID }}" class="relative">
            {{ if gt .Progress 0 }}
            <div
                class="absolute top-0 left-0 z-10 flex items-center justify-center w-full h-full text-4xl font-bold uppercase bg-black opacity-70 md:text-6xl">
                Watched
            </div>
            {{ end }}
            <img class="object-cover transition-all duration-500 cursor-pointer aspect-video h-44 md:h-60 group-hover:scale-110"
                src="{{ .Thumbnail }}" alt="{{ .Title }}">
            <div
                class="absolute bottom-0 left-0 hidden w-full p-1 font-bold text-center text-white truncate bg-black group-hover:inline-block animate__faster bg-opacity-60 animate__animated animate__slideInUp">
                {{ .Title }}
            </div>
        </a>
    </div>
    {{ end }}
    {{ end }}
    {{ else }}
    <div class="flex items-center justify-center flex-grow h-44 md:h-60">
        <span class="text-xl font-bold text-center md:text-2xl">There are no videos from {{ .Title }} just yet</span>
    </div>
    {{ end }}
</div>

{{ end }}