{{ define "components/video-feed" }}

<div class="flex flex-row w-full gap-1 p-4 space-x-4 overflow-scroll carousel carousel-center bg-neutral rounded-box"
    id="components-video-feed">
    {{ if .Videos }}
    {{ with . }}
    {{ range .Videos }}
    <div class="overflow-hidden carousel-item rounded-xl overscroll-contain">
        <button hx-get="/api/watch/{{ .ID }}" hx-target="#content" hx-swap="beforebegin" class="relative">
            <img class="object-cover mb-8 aspect-video h-52 md:h-60" src="{{ .Thumbnail }}" alt="{{ .Title }}">
            <div class="absolute bottom-0 flex justify-center w-full h-8 px-3 text-xl font-bold bg-base-300">
                <span class="truncate">
                    {{ .Title }}
                </span>
            </div>
        </button>
    </div>
    {{ end }}
    {{ end }}
    {{ else }}
    <div class="flex items-center justify-center flex-grow h-60">
        <span class="text-2xl font-bold">There are no videos from {{ .Title }} just yet</span>
    </div>
    {{ end }}
</div>
{{ end }}