{{ define "landing" }}

<head>
    <title>Get Started With Feedlr</title>
</head>

<div class="flex flex-col justify-center h-full gap-4 m-auto" id="landing">
    <div class="flex justify-center">
        {{ template "components/logo" }}
    </div>
    <div class="max-w-4xl text-center">
        <span class="text-xl">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi illo
            ducimus
            aliquam necessitatibus, repellendus tenetur earum nisi odit ipsum quidem. Consequuntur deserunt accusantium
            accusamus obcaecati itaque corporis voluptatibus tempora perferendis!
        </span>
    </div>
    <div class="flex flex-col items-center justify-center gap-2">
        <a href="/app">
            <button class="btn btn-primary">
                Start Watching
            </button>
        </a>
        <a href="https://github.com/byvko-dev">
            <button class="btn btn-dark">
                GitHub
            </button>
        </a>
    </div>
</div>

{{ end }}