package app

import (
	"fmt"
	"github.com/cufee/feedlr-yt/internal/logic"
	"github.com/cufee/feedlr-yt/internal/templates/components/feed"
	"github.com/cufee/feedlr-yt/internal/templates/components/playlist"
	"github.com/cufee/feedlr-yt/internal/templates/components/shared"
	"github.com/cufee/feedlr-yt/internal/templates/components/ui"
	"github.com/cufee/feedlr-yt/internal/types"
)

templ PlaylistDetail(props logic.PlaylistPageProps) {
	<head>
		<title>{ fmt.Sprintf("Feedlr - %s", shared.YouTubeString(props.Playlist.Name)) }</title>
	</head>
	<div class="relative flex w-full flex-col gap-4">
		@ui.Card(ui.WithCardClass("w-full p-4 md:p-5")) {
			<div class="grow">
				@playlist.PlaylistHeader(props.Playlist, playlist.PlaylistActions(props.Playlist))
			</div>
		}
		@PlaylistVideoFeed(props)
		@playlist.EditPlaylistDialog(props.Playlist)
		@playlist.AddVideoDialog(props.Playlist.ID)
		<div id="playlist-toast"></div>
		@dialogCloseScript()
	</div>
}

templ PlaylistVideoFeed(props logic.PlaylistPageProps) {
	<div id="playlist-video-feed" class="ui-motion-swap w-full flex flex-col gap-4">
		if len(props.Videos) == 0 {
			@ui.EmptyState("No videos yet", "Add a video with the URL button above, or from any video page using the playlist dropdown", "")
		} else {
			@feed.VideoFeed(props.Videos, playlistReturnURL(props.Playlist.ID), feed.WithChannelName, feed.WithProgressBar, feed.WithProgressOverlay, feed.WithPlaylistActions(props.Playlist.ID))
		}
	</div>
}

func playlistReturnURL(id string) string {
	return fmt.Sprintf("/app/playlist/%s", id)
}

var _ = types.PlaylistProps{}
