package app

import (
	"github.com/cufee/feedlr-yt/internal/templates/components/settings"
	"github.com/cufee/feedlr-yt/internal/types"
)

templ Settings(props types.SettingsPageProps) {
	<head><title>Feedlr - Settings</title></head>
	<div class="flex flex-col gap-4">
		@settings.ManageAccount(props.Passkeys)
		@settings.YouTubeSyncSettings(props.YouTubeSync, props.YouTubeTVSync)
		@settings.SponsorBlockSettings(props.SponsorBlock)
	</div>
}
