package pages

import "github.com/cufee/feedlr-yt/internal/types"
import "github.com/cufee/feedlr-yt/internal/templates/components/feed"
import "github.com/cufee/feedlr-yt/internal/templates/components/shared"

templ DemoVideosFeed(props types.UserVideoFeedProps) {
	<head><title>Feedlr - Demo</title></head>

	<div id="demo-app-index" class="flex flex-col gap-4 px-4 md:px-0">
		@shared.OpenVideoButton()
		@feed.VideoFeed(props.Videos, false, true)
	</div>
}