package pages

import (
  "github.com/byvko-dev/youtube-app/internal/templates/components/shared"
)

templ Login() {
	<div class="flex flex-col justify-center h-full gap-4 m-auto" id="landing">
		<div class="flex justify-center">@shared.Logo("128")</div>
		Login
	</div>
}

