package pages

templ Outage() {
  <head>
    <title>Feedlr - Down for Maintenance</title>
  </head>

  <div class="flex flex-col items-center self-center justify-center h-full">
    <span class="text-2xl font-bold">We are currently working on improving Feedlr!</span>
    <span>This istance is down for maintenance and will be back up shortly.</span>
  </div>
  <script>
    setTimeout(() => {
      window.location.href = "/"
    }, 5000)
  </script>
}

