package pages

templ Video() {
	<head>
		<title>Feedlr - Test</title>
		<meta property="og:title" content=""/>
		<meta property="og:type" content="video.episode"/>
		<meta property="og:description" content=""/>
		<meta property="og:image" content=""/>
	</head>
	Videos Page
}

templ VideoPlayer() {
	<div id="player"></div>
}

