package layouts

import (
	"github.com/cufee/feedlr-yt/internal/server/handler"
	"github.com/cufee/tpot/brewed"
)

var Blank brewed.Layout[*handler.Context] = func(ctx *handler.Context, body ...templ.Component) (templ.Component, error) {
	return blank(body...), nil
}

/* This layout is required for how components are rendered */

templ blank(content ...templ.Component) {
	for _, c := range content {
		@c
	}
	{ children... }
}
