package layouts

import (
  "github.com/byvko-dev/youtube-app/internal/templates/layouts/partials"
)

templ HeadOnly() {
	<html lang="en" class="h-full">
		@partials.Head()
		<body class="h-full">
			{ children... }
		</body>
	</html>
}

