package layouts

import (
  "github.com/byvko-dev/youtube-app/internal/templates/layouts/partials"
)

templ HeadOnly(content templ.Component) {
	<html lang="en" class="h-full">
		@partials.Head(nil)
		<body class="h-full">
			{! content }
		</body>
	</html>
}

