{{ define "app/index" }}

<head>
    <title>Feedlr</title>
</head>

<div id="app-index" class="flex flex-col gap-4">
    {{template "components/channels-feed" .Favorites }}
    {{template "components/channels-feed" .WithNewVideos }}

    {{ if .WithoutNewVideos }}
    <div class="relative flex flex-col items-center justify-start text-center h-fullgap-1">
        {{ if or .Favorites .WithNewVideos }}
        <span class="text-2xl font-bold md:text-3xl">All caught up!</span>
        <span class="sticky top-0 text-lg">Keep scrolling to see the rest of your subscriptions</span>
        {{ else }}
        <span class="text-2xl font-bold md:text-3xl">There are no new videos just yet!</span>
        <span class="sticky top-0 text-lg">Keep scrolling to see your subscriptions</span>
        {{ end }}
    </div>
    {{ end }}

    {{template "components/channels-feed" .WithoutNewVideos }}
</div>

{{ end }}