{{ define "app/watch" }}

<head>
  <title>Feedlr - {{ .Title }}</title>
</head>

<div class="relative flex items-center justify-start w-screen h-[calc(100dvh)]">
  <div class="absolute flex items-center justify-center w-full h-full bg-black" id="player-loading">
    <span class="w-12 h-12 loading loading-spinner"></span>
  </div>
  <div id="player"></div>
  <a class="absolute opacity-50 hover:opacity-100 top-2 right-2 btn btn-primary btn-square" href="/app"
    id="close-button">
    {{template "icons/cross"}}
  </a>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script>
  document.getElementById("close-button")?.addEventListener("click", saveProgress)
  setInterval(saveProgress, 10000)

  var player;
  var frame = document.getElementById("player")
  function onYouTubeIframeAPIReady() {
    player = new YT.Player(frame, {
      height: '100%',
      width: '100%',
      videoId: '{{ .ID }}',
      playerVars: {
        'start': parseInt('{{ .Progress }}') ?? 0,
        'rel': 0,
        'playsinline': 1,
        'enablejsapi': 1,
        'iv_load_policy': 3
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }
  function onPlayerReady(event) {
    event.target.playVideo();
    document.getElementById("player-loading").classList.add("hidden")
  }
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.ENDED || event.data == YT.PlayerState.PAUSED) {
      saveProgress()
    }
  }
  function saveProgress() {
    fetch("/api/videos/{{ .ID }}/progress?progress=" + (Math.floor(player.getCurrentTime())), {
      method: 'POST',
      credentials: 'include'
    })
    return true
  }
</script>

{{ end }}