{{ define "head" }}

<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.png" />

    <!-- HTMX -->
    <script src="/static/js/htmx.min.js"></script>
    <!-- HyperScript -->
    <script src="/static/js/_hyperscript.min.js"></script>
    <!-- Tailwind and DaisyUI -->
    <link href="/static/css/animate.min.css" rel="stylesheet" />
    <link href="/static/css/daisyui.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/tailwind.js"></script>
    <script>
        tailwind.config = {}
    </script>

    <!-- PWA Manifest -->
    <link rel="manifest" href="/static/app.webmanifest">
</head>

{{ end }}