{{ define "app/channels/manage" }}

<head>
    <title>Feedlr - Subscriptions</title>
</head>

<div id="app-channels-manage" class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
        <span class="self-center text-xl font-bold">Search Channels</span>
        {{ template "components/channels-search-box" }}
    </div>

    <div id="subscriptions" class="flex flex-col gap-4">
        <span class="self-center text-xl font-bold">Your Subscriptions</span>
        <div class="flex flex-row flex-wrap gap-2" id="subscriptions-list">
            {{template "components/subs-channels-tiled" .Subscriptions.All }}
        </div>
    </div>
</div>

{{ end }}