{{ define "app/channels/manage" }}

<head>
    <title>Feedlr - Subscriptions</title>
</head>

<div id="app-channels-manage" class="flex flex-col gap-8">
    <div id="search" class="flex flex-col gap-4">
        <span class="self-center text-xl font-bold">Search New Channels</span>
        <input type="search" placeholder="Channel Name" name="search" hx-disabled-elt="this"
            class="self-center w-full max-w-xs input input-bordered font-control" hx-get="/api/channels/search"
            hx-trigger="keyup changed delay:500ms" hx-target="#search-results" hx-swap="innerHTML" />
        <div _="on clear set innerHTML on me to ''" id="search-results" class="flex flex-row flex-wrap gap-2"></div>
    </div>
    <div id="subscriptions" class="flex flex-col">
        <span class="self-center text-xl font-bold">Your Subscriptions</span>
        <div>//</div>
    </div>
</div>

{{ end }}