package shared


templ Link(href, text, class string) {
	<div class="absolute top-0 left-0 w-full link">
		<div id="nav-progress" class="invisible h-1 transition-all bg-primary rounded-r-full duration-[50ms] ease-in" style="width: 0%"></div>
	</div>
}