package shared

import "fmt"

templ Logo(size string) {
	<div class="flex flex-row items-center select-none cursor-inherit"><img draggable="false" src={ fmt.Sprintf("/static/icon-%s.png", size) } alt="Feedlr"/></div>
}

